@import "tailwindcss";

@theme {
	--color-violet: initital;
	--color-red: initial;
	--color-green: initial;
	--color-blue: initial;
	--color-indigo: initial;
	--color-sky: initial;
	--color-slate: initial;
	--color-orange: initial;
	--color-zinc: initial;
	--color-neutral: initial;
	--color-rose: initial;
	--color-pink: initial;
	--color-fuchsia: initial;
	--color-cyan: initial;
	--color-amber: initial;
	--color-lime: initial;
	--color-emerald: initial;
	--color-purple: initial;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0 auto;
	max-width: 34.375rem;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 1fr;
	min-height: 100dvh;
}
